<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016-2020 ActionTech.
  ~ License: http://www.gnu.org/licenses/gpl.html GPL version 2 or higher.
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%-5p][%t] %m %throwable{full} (%C) %n"/>
        </Console>



    </Appenders>
    <Loggers>



        <asyncRoot level="info">
            <AppenderRef ref="Console"/>
        </asyncRoot>
    </Loggers>

</Configuration>
